.basic-card {
    background: #b39a6a44;
    color: #edead9;
    width: 300px;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 10px;
    position: relative;
    margin: 20px;
    margin-bottom: 90px;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.basic-card img {
    width: 100%;
    border-radius: 10px;
}

/* 横線 */
.basic-card > .border-top,
.basic-card > .border-bottom {
    position: absolute;
    left: -4px;
    width: calc(100% + 8px);
    height: 15px;
    background: url("../img/pc/nav-horizontal-line.webp") repeat-x;
    background-size: auto 15px;
}

.basic-card > .border-top {
    top: -8px;
}

.basic-card > .border-bottom {
    bottom: -8px;
}

/* 縦線 */
.basic-card > .border-left,
.basic-card > .border-right {
    position: absolute;
    top: -4px;
    width: 15px;
    height: calc(100% + 8px);
    background: url("../img/pc/nav-vertical-line.webp") repeat-y;
    background-size: 15px auto;
}

.basic-card > .border-left {
    left: -8px;
}

.basic-card > .border-right {
    right: -8px;
}

.basic-card > .star-deco {
    position: absolute;
    left: 2%; /* 横線の左から1割の位置 */
    top: 100%; /* 横線の中心位置 */

    width: 80px; /* star-deco の幅（必要に応じて調整） */
    height: 80px; /* star-deco の高さ（必要に応じて調整） */

    background-image: url("../img/pc/star-deco.webp");
    background-size: contain;
    background-repeat: no-repeat;
    pointer-events: none;
}
