h1 {
    font-size: 32px;
    margin: 32px 0 0 0;
    font-family: "Yomogi", cursive;
    font-weight: 600;
}

h2 {
    font-size: 24px;
    margin: 32px 0 0 0;
    font-family: "Yomogi", cursive;
    font-weight: 600;
}

p {
    font-size: 17px;
    font-family: "Kosugi Maru", sans-serif;
    line-height: 1.8;
    padding: 0 18px;
}
