.alert-card {
    display: inline-block;
    width: auto;
    padding: 8px 12px;
    box-sizing: border-box;
    border-radius: 10px;
    position: relative;
    margin: 10px;
}

/* 横線 */
.alert-card > .border-top,
.alert-card > .border-bottom {
    position: absolute;
    left: -4px;
    width: calc(100% + 8px);
    height: 15px;
    background-repeat: repeat-x;
    background-size: auto 15px;
}

.alert-card > .border-top {
    top: -8px;
}

.alert-card > .border-bottom {
    bottom: -8px;
}

/* 縦線 */
.alert-card > .border-left,
.alert-card > .border-right {
    position: absolute;
    top: -4px;
    width: 15px;
    height: calc(100% + 8px);
    background-repeat: repeat-y;
    background-size: 15px auto;
}

.alert-card > .border-left {
    left: -8px;
}

.alert-card > .border-right {
    right: -8px;
}

/* info card */
.info-card {
    background: #8be7ec22;
    color: #8be7ec;
}

.info-card > .border-top,
.info-card > .border-bottom {
    background-image: url("../img/pc/info-card-horizontal-line.webp");
}

.info-card > .border-left,
.info-card > .border-right {
    background-image: url("../img/pc/info-card-vertical-line.webp");
}

/* warn card */
.warn-card {
    background: #efc05322;
    color: #efc053;
}

.warn-card > .border-top,
.warn-card > .border-bottom {
    background-image: url("../img/pc/warning-horizontal-line.webp");
}

.warn-card > .border-left,
.warn-card > .border-right {
    background-image: url("../img/pc/warning-vertical-line.webp");
}

/* danger card */
.danger-card {
    background: #ff675322;
    color: #ff6753;
}

.danger-card > .border-top,
.danger-card > .border-bottom {
    background-image: url("../img/pc/danger-horizontal-line.webp");
}

.danger-card > .border-left,
.danger-card > .border-right {
    background-image: url("../img/pc/danger-vertical-line.webp");
}

/* success card */
.success-card {
    background: #7bff5322;
    color: #7bff53;
}

.success-card > .border-top,
.success-card > .border-bottom {
    background-image: url("../img/pc/success-horizontal-line.webp");
}

.success-card > .border-left,
.success-card > .border-right {
    background-image: url("../img/pc/success-vertical-line.webp");
}
