.hr {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    pointer-events: none;
    margin: 0;
}

.hr::after {
    content: "";
    display: block;
    width: 95%;
    aspect-ratio: 4542 / 96;
    background-image: url("../img/pc/horizontal-line.webp");
    background-size: contain;
    background-repeat: no-repeat;
    pointer-events: none;
}
