input[type="text"] {
    background: white;
    color: #333;
    border-radius: 5px;
    border: none;
    padding: 10px 12px;
    font-size: 16px;
    transition: box-shadow 0.25s ease;
    font-family: "Yomogi", cursive;
    font-weight: 600;
}

input[type="text"]:focus {
    outline: none;
    box-shadow:
        0 0 4px #efc053,
        0 0 10px #efc053;
}
