<!-- headの例 -->
<meta charset="UTF-8" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Kosugi+Maru&family=Yomogi&display=swap" rel="stylesheet" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/autoloader/prism-autoloader.min.js"></script>

<!-- 独自テーマ -->
<link rel="stylesheet" href="./core/assets/css/code.css" />

<!-- 初期化 -->
<script src="./core/assets/js/prism-init.js"></script>

<link rel="stylesheet" href="./core/assets/css/base.css" />
<link rel="stylesheet" href="./core/assets/css/typography.css" />
<link rel="stylesheet" href="./core/assets/css/h1.css" />
<link rel="stylesheet" href="./core/assets/css/h2.css" />
<link rel="stylesheet" href="./core/assets/css/link.css" />
<link rel="stylesheet" href="./core/assets/css/star-list.css" />
<link rel="stylesheet" href="./core/assets/css/blockquote.css" />
<link rel="stylesheet" href="./core/assets/css/table.css" />
<link rel="stylesheet" href="./core/assets/css/hr.css" />
