<div class="dropdown">
    <button class="dropdown-toggle" role="button" aria-haspopup="listbox" aria-expanded="false">
        <span class="content">{{ placeholder }}</span>
        <span class="border-top"></span>
        <span class="border-left"></span>
        <span class="border-bottom"></span>
        <span class="border-right"></span>
    </button>

    <!-- <div class="dropdown-item" data-value="b" role="option" aria-selected="false">選択肢 B</div> -->
    <div class="dropdown-menu" role="listbox">{{ option }}</div>
</div>
