header {
    position: sticky;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    padding: 10px;
    background: #0e0c1bee;
    margin: 0;
    z-index: 10000;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}
